@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Vampiro+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Vampiro+One&display=swap");

// font-family: 'Urbanist', sans-serif;
// font-family: 'Vampiro One', cursive;
.ChangePasswordContainer {
  display: flex;
  // position: fixed;
  // height: 100%;
  // overflow: hidden;
  .leftSide {
    // height: 100vh;
    width: 20%;
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    .navbar {
      width: auto;
    }
    .password {
      width: auto;
      border-radius: 22px;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      height: 100%;
      margin: 20px;
      padding: 20px;
      max-height: 100%;
      overflow: auto;
      .heading {
        display: flex;
        align-items: center;
        .hadingImage {
          width: 32px;
          height: 32px;
          flex-shrink: 0;
        }
        .headingText {
          color: #000;
          font-family: "Urbanist", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px; /* 58.333% */
        }
      }
      .subheading {
        color: #000;
        font-family: "Urbanist", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px; /* 70% */
        margin: 10px 0px 0px 36px;
      }
      .input {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 36px;
        margin-top: 30px;
        .inputHeading {
          color: #000;
          font-family: "Urbanist", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px;
          margin-right: 20px;
        }
        .inpputText {
          border: none;
          background: none;
          border-bottom: 1px solid #cbc8c8;
          width: 754px;
          flex-shrink: 0;
          color: #756464;
          font-family: "Urbanist", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px; /* 70% */
          outline: none;
        }
      }
      .bulletList {
        margin-top: 20px;
        margin-left: 10px;
      }
      .list {
        display: flex;
        align-items: center;
        gap: 10px;
        .listImage {
          width: 15px;
          height: 15px;
          flex-shrink: 0;
        }
        .listPara {
          color: #000;
          font-family: "Urbanist", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px; /* 58.333% */
          margin: 10px;
        }
      }
      .button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
        gap: 40px;
        margin-top: 30px;
        .cancel {
          display: flex;
          width: 112px;
          height: 46px;
          padding: 10px 24px 10px 22px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          border-radius: 8px;
          border: 0.5px solid rgba(0, 0, 0, 0.21);
          background: #fff;
          color: #434141;
          text-align: center;
          font-family: "DM Sans", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration: none;
        }
        .save {
          display: flex;
          width: 112px;
          height: 46px;
          padding: 10px 34px 10px 33px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          border-radius: 8px;
          background: #90a1fd;
          color: #fff;
          text-align: center;
          font-family: "DM Sans", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration: none;
        }
      }
    }
  }
}
